.titl{
    /* border: 1px solid green; */
    height:50px;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.firstcont{
    /* border:2px solid black; */
    
    display:flex;
    align-items: center;
    flex-direction: column;
}
.skillcont{
    display:flex;
    border:1px solid rgb(77, 75, 75);
    border-radius:5px;
    margin-top: 2px;
    margin-bottom: 2px;
    width:90%;
    margin-left:5px;
    margin-right: 5px;
    padding:5px;
}
.valcont{
    /* border:2px solid blue; */
    width:90%;
    display:flex;
    align-items: center;
    font-size: 20px;

}
.buttondiv{
    height:40px;
    /* border:2px solid red; */
    display: flex;
     flex-direction: row-reverse; 
     align-items: center;
     padding:2px;
     margin:2px;
}
.crossbutton{
    font-size: 25px;
    color:rgb(233, 12, 12);
    width:35px;
    height:30px;
    border:1px solid red;
    margin:5px;
    border-radius: 5px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 196, 196);
   
}
.addbutton{
    font-size:25px;
    font-weight: 700;
    width:60px;
    height:30px;
    background-color: rgb(136, 136, 237);
    border:1px solid rgb(47, 47, 154);
    border-radius:5px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.inputarea{
    width:210px;
    height:30px;
    font-weight: 100;
    font-size:14px;
    margin:5px;
    padding:5px;
    background-color: rgb(234, 231, 231);
    border:2px solid white;
    border-radius: 10px;

}
.savebutton{
    width:70px;
    height:30px;
    font-weight: 600;
    font-size:25px;
    margin: 5px;
    padding:5px;
    background-color: rgb(136, 136, 237);
    border:1px solid rgb(47, 47, 154);
    border-radius:5px;
    display:flex;
    align-items: center;

}
.labelsclass{
    font-size: 20px;
}
.inputcont{
    display:flex;
    width:auto;
    justify-content: center;
    align-items: center;
    /* border:2px solid black; */
    margin-left: 10px;
    margin-right: 10px;
}
.labelcont{
    height:30px;
    width:120px;
    /* border:2px solid rgb(218, 22, 130); */
    display:flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: row;
}

.divone{
    height:95vh;
    width:98vw;
    /* border:2px solid blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../../../../public/back2.jpg);
    background-size: cover;
    background-position: center;
}
.divonewrapper{
    height:auto;
    width:auto;
    /* border:2px solid green; */
    padding:5px;
    margin:5px;
    border-radius: 5px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.textareaclass{
    width:200px;
    
    font-weight: 100;
    font-size:14px;
    margin:5px;
    padding:5px;
    background-color: rgb(234, 231, 231);
    border:2px solid white;
    border-radius: 10px;
    min-height:100px;
}