.main {
  height: auto;
  width: 100%;
  /* background-color: rgb(159, 161, 161); */
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-repeat: no-repeat; */
  background-size: cover;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  /* text-decoration: underline; */
}
.title h1 {
  font-weight: 400;
}
.container {
  height: auto;
  width: 1400px;
  margin: 20px;
  /* border: 2px solid red; */
  background-color: white;
}
.cardimg {
  height: 500px;
  width: 400px;
  margin: 5px;
}
.cardmain {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  margin: 15px;
}

.card:hover {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.button {
  font-size: 30px;
  background: linear-gradient(to right, #262627, 70%, #616265);
  color: whitesmoke;
  border-radius: 40px;
  padding: 10px;
  margin-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
  cursor: pointer;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.link {
  text-decoration: none;
  color: rgb(241, 240, 240);
}

@media (max-width: 480px) {
  .title {
    font-size: 10px;
  }
  .container {
    width: 90vw;
  }
  .cardmain {
    flex-direction: column;
  }
  .cardimg {
    width: 70vw;
    height: 50vh;
  }
  .button {
    font-size: 16px;
  }
}
