.container{
    margin: 10px;
    width: 97%;
    padding: 6px;

}
.container h3{
    font-weight: 700;
}
.organigation{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.name div{
    font-weight: 600;
}