.container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 5px;
}
.icons{
    display: flex;
    
}
.icons .logoimg{
    width: 13px;
    height: 13px;
    color: rgb(19, 88, 149);
    margin-top: 2px;
}
.icons span{
    margin-left: 5px;
}