.mainclass{
    /* border:2px solid red; */
    width:90vw;
    height:98vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow:auto;
    padding: 5px;
    margin: 5px;
}
.heading{
    /* border:2px solid black; */
    width:90%;
    height:15%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 2rem;
    margin: 5px;
    
}
.wrapper{
    width:90%;
    height:auto;
    display: flex;
    /* border:2px solid purple; */

}
.template{
    border:2px solid rgb(144, 143, 143);
    width:90%;
    min-height:90vh;
    margin: 5px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 35px;
    padding-right: 35px;
}
.firstmain{
    /* border:2px solid green; */
    height:65px;
    margin:5px;
    padding:5px;
}
.firstmain:hover{
    background-color: rgb(233, 229, 229);
}
.first{
    border-bottom: 2px solid rgb(116, 113, 113);
    height:40px;
    display:flex;
    align-items: center;
    /* padding-left: 10px; */
    font-size: 20px;
    font-weight: 550;

}
.second{
    /* border:2px solid yellow; */
    height:18px;
    /* padding-left:10px; */
    font-weight: 100;
}
.operation{
    width:25%;
    height:80%;
    /* border:2px solid rgb(144, 143, 143); */
    margin: 5px;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.divone{
    height:95vh;
    width:98vw;
    /* border:2px solid blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../../public/res2.jpg);
    background-size: cover;
    background-position: center;
}
.divonewrapper{
    height:auto;
    width:auto;
    /* border:2px solid green; */
    padding:5px;
    margin:5px;
    border-radius: 5px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.buttondiv{
    height:40px;
    /* border:2px solid red; */
    display: flex;
     flex-direction: row-reverse; 
     align-items: center;
     padding:2px;
     margin:2px;
}
.crossbutton{
    font-size: 25px;
    color:rgb(29, 1, 1);
    width:35px;
    height:30px;
    border:1px solid red;
    border-radius: 5px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 196, 196);
   
}
.inputarea{
    width:200px;
    height:30px;
    font-weight: 100;
    font-size:14px;
    margin:5px;
    padding:5px;
    background-color: rgb(234, 231, 231);
    border:2px solid white;
    border-radius: 10px;

}
.savebutton{
    width:70px;
    height:30px;
    font-weight: 600;
    font-size:25px;
    margin: 5px;
    padding:5px;
    background-color: rgb(136, 136, 237);
    border:1px solid rgb(47, 47, 154);
    border-radius:5px;
    display:flex;
    align-items: center;

}
.labelsclass{
    font-size: 20px;
}
.inputcont{
    display:flex;
    width:auto;
    justify-content: center;
    align-items: center;
    /* border:2px solid black; */
    margin-left: 10px;
    margin-right: 10px;
}
.labelcont{
    height:30px;
    width:90px;
    /* border:2px solid rgb(218, 22, 130); */
    display:flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: row;
}
.downbutton{
    border:2px solid blakc;
    color:white;
    width:98%;
    height:40px;
    font-size: 20px;
    border-radius: 10px;
    background-color: black;
}