.main {
  height: auto;
  width: 100%;
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../../../public/4872987.jpg);
}
.container {
  height: 600px;
  width: 1100px;
  /* border: 2px solid rgb(12, 104, 32); */
  display: flex;
  justify-content: center;
  align-items: center;
}
.comp1 {
  height: 500px;
  width: 50%;
  /* border: 2px solid rgb(73, 35, 186); */
  margin: 10px;
}
.com2 {
  height: 500px;
  width: 50%;
  /* border: 2px solid rgb(141, 178, 20); */
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  font-size: 40px;
}
.para1 {
  font-size: 25px;
}
.para2 {
  font-size: 18px;
  margin-right: 20px;
}

.button {
  font-size: 30px;
  background: linear-gradient(to right, #010323, 70%, #032260);
  color: whitesmoke;
  border-radius: 40px;
  padding: 10px;
  margin-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
  cursor: pointer;
}
.cardimg {
  height: 490px;
  width: 450px;
  border-radius: 20px;
  object-fit: cover;
}
.link {
  text-decoration: none;
  color: rgb(241, 240, 240);
}

@media (max-width: 480px) {
  .container {
    flex-direction: column;
    height: auto;
  }
  .button {
    font-size: 16px;
  }
  .com2 {
    display: none;
  }
  .cardimg {
    display: none;
  }
  .comp1 {
    height: auto;
    width: 70%;
  }
}
